img	{
	max-width: 100%;
}
 hr	{
 	border-top: 3px solid #BCBBBB;
 }
 .avatar {
  	width: 170px;
  	height: 170px;
  	margin-top: 10px;
}
.name-title {
	font-size: 70px;
	font-family: 'Josefin Slab', serif;
}
.title{
	font-size: 35px;
	font-family: 'Khand', sans-serif;
}
.picture{
	width: 1149px;
	height: 349px;
}
.work-title{
	font-family: 'Marvel', sans-serif;
	color: #757575;
}

body {
	padding-top: 10px;
	padding-bottom: 10px;  
	padding-left: 80px; 
	padding-right: 80px; 
	margin: 0px;
}