img {
    max-width: 100%;
    display: block;
}

hr {
    border-top: 3px solid #bcbbbb;
}

body {
    padding: 0 20px 10px;
    padding-right: 20px;
}

.avatar {
    width: 160px;
    height: 160px;
    margin-top: 20px;
}

.name-title {
    font-size: 70px;
    font-family: 'Josefin Slab', serif;
}

.title {
    font-size: 35px;
    font-family: 'Khand', sans-serif;
}

.picture {
    width: 100vw;
    height: 349px;
    padding-top: 10px;
}

.work-title {
    font-family: 'Marvel', sans-serif;
    color: #757575;
    font-size: 32px;
}

.project-title {
    font-size: 35px;
    color: #dd2c00;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
}

.project-image {
    height: 300px;
}

.css-verification {
    border:0;
    width:88px;
    height:31px
}